@model WEBPC.Models.sanpham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:red;font-size:20px;text-align:center;">@ViewBag.thongbao</h2>

<h3>Bạn có chắc muốn xóa sản phẩm này?</h3>
<div>
  
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tensanpham)
        </dd>

        <dt>
            Mô tả
        </dt>

        <dd>
            @Html.Raw(Model.mota.ToString().Replace("\n", "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img style="height:100px;" src="~/hinh anh/@Model.hinhanh" />
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.FormatValue(Model.dongia, "{0:#,##0 }") VNĐ
        </dd>

        <dt>
            Số lượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            Ngày cập nhật
        </dt>

        <dd>
            @Html.FormatValue(Model.ngaycapnhat, "{0:dd/MM/yyyy}")
        </dd>

        <dt>
            Danh mục sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danhmucsanpham.tendanhmuc)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            @Html.ActionLink("Quay về trang sản phẩm", "Index")
        </div>
    }
</div>
