@model WEBPC.Models.chitietdonhang

@{
    ViewBag.Title = "Detailsd";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Detailsd</h2>

<div>
    <h4>chitietdonhang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.madonhang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.madonhang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.masp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.masp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soluong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soluong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dongia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dongia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.thanhtien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.thanhtien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
